@import './base.css';

#app {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
        align-items: flex-start;
    }

    #app {
        display: flex;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .q-dialog__inner--minimized > div {
        max-width: 75vw;
    }
}